*{
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    background-color: rgb(3, 36,48);
}
h1{
    color:wheat;
    position: absolute;
    left:10%;
}
.options{
    position: absolute;
    top:6%;
}
label{
    position: absolute;
    top:6.5%;
left:40%;
color:wheat;
}
.container{
    position: absolute;
    top:30.5%;
    padding:1rem;
    border: 2px solid  rgb(3, 36, 48) ;
    border-radius: .5rem;
    background-color: rgb(7, 57, 75);
width:700px;
max-width: 90%;
}
.timer{
    position: absolute;
    top:55%;
    left:30%;
    color:wheat;
    font-size: 2rem;
}
.score{
    position: absolute;
    top:55%;
    left:60%;
    color:wheat;
    font-size: 2rem;
}
.text{
    margin-bottom: 1rem;
    color:wheat;
}
.input{
border: 2px solid  rgb(2, 18, 24) ;
width:100%;
height: 5rem;
margin: auto;
border-radius: .5rem;

}
.input:focus{
    border-color: black;
}

